<%- include partials/header %>
<div class="home">
    <div class="mx-auto">
        <div class="text-center p-10">
            <h1 class="heading text-white text-uppercase">Pixavue</h1>
            <p class="font-italic text-white">One stop platform to store your images.</p>
            <a class="btn btn-secondary btn-lg" href="/home">Get Started</a>
        </div>
    </div>
</div>
<%- include partials/footer %>